*{
    font-family: Arial;
    font-weight: bold;
    /* background-image: url(../Images/1649855073082-01.jpeg); */

    

}
.main{
    background-image: url(../Images/1649855073082-01.jpeg);
    background-size: cover;
    width: 100%;
    background-attachment: fixed;

}
.main h1{
    text-align: center;
    padding-top: 10px;
    color: brown;
}
.main p{
    text-align: center;
    color: black;
}